<!doctype html>
<html>

<head>
  <title>Just Draw</title>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style.css">
  <!-- <link rel="stylesheet" href="nav.css"> -->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Monoton|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

</head>

<body>

  <!-- //////////////////  NAV BAR  //////////////////// -->

  <!-- <div id = "navbar">Just Draw</div>

  <div class="navbutton"></div>

  <div id = "navitems">
    <a href="#">profile</a>
    <a href="#">Draw!</a>
    <a href="#">news feed</a>
    <a href="#">logout</a>
    <a href="#">unlink</a> -->

  </div>
  <!-- //////////////////////////////////////// -->

  <div class="container">

    <div class="page-header text-center">
      <!-- <h1>Profile Page</h1> -->

    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">


          <% if (user.local.email) { %>
          <h3>
            User Name:<br> <span class="userName">@<%= user.userName %></span>
            <div class="dropdown">
            <i  onclick="myFunction()" class="dropbtn fas fa-bars"></i>
            
              <div id="myDropdown" class="dropdown-content">

                <a href="/logout" class="signInButton btn btn-default btn-sm">Logout</a>

               <a href="/unlink/local" class="signInButton btn btn-default">Unlink</a>

              </div>
            </div>
            <!-- <strong>id</strong>: <%= user._id %><br>
                                  <strong>email</strong>: <%= user.local.email %><br>
                                  <strong>password</strong>: <%= user.local.password %> -->
          </h3>

          <section class="linkHolder">
            <a href="/draw" class="signInButton btn btn-default btn-sm">Draw!</a>
          </section>

          <section class="linkHolder">
            <a href="/newsfeed" class="signInButton btn btn-default btn-sm">News Feed
            </a>
          </section>

          <% } else { %>
          <a href="/connect/local" class=" btn btn-default">Connect Local</a>
          <% } %>

        </div>
      </div>
      <div class="col-sm-6">

        <section class="grid-container">



          <% for(let i=drawings.length-1; i>=0; i--) {%>

          <% if (drawings[i].user === user.local.email) {%>

          <figure class="grid-item">

            <img src="<%= drawings[i].png %>" alt="">

            <!-- <input type="text" name="" value="">
                            <button type="button" name="button">set</button> -->

            <!-- rendering the title -->
            <figcaption><%= drawings[i].title %></figcaption>

            <i class="hover fas fa-trash-alt" data-drawings="<%= drawings[i].png %>"></i>

            <!-- <a href="/editdraw?pic_id=<%= drawings[i]._id %>"> -->

            <i class="hover far fa-edit" data-drawings="<%= drawings[i].png %>" data-id="<%= drawings[i]._id %>" data-title="<%= drawings[i].title %>"></i>
            <!-- <button ata-drawings="<%= drawings[i].png%>" type="button" name="button"></button> -->

            <!-- </a> -->


          </figure>

          <% } %>

          <% } %>

        </section>


        <!-- <h2>Add a message</h2> -->
        <% if (user.local.email) { %>
        <!-- <form action="/messages" method="POST">
                      <input type="text" value="<%= user.local.email %>" name="name">
                      <input type="text" placeholder="message" name="msg">
                      <button type="submit">Submit</button>
                    </form> -->
      </div>
      <% } %>











  </div>
  </div>

  <script src="main.js"></script>

  <!-- <script src="edit.js"></script> -->


</body>

</html>
